@import url('https://fonts.googleapis.com/css2?family=Exo+2:ital,wght@0,100..900;1,100..900&family=Foldit:wght@100..900&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

body {
    font-family: "Exo 2", sans-serif;
    margin: 0;
    padding: 0;
    scroll-behavior: smooth; /* Enables smooth scrolling */
    background: linear-gradient(to bottom right, #4a148c, #000000, #00bcd4, #121212); /* Gradient with violet, black, cyan, and dark color */
    color: white;
}

header {
    position: fixed;
    width: 100%;
    background: rgba(33, 33, 33, 0.8); /* Semi-transparent dark background */
    color: white;
    padding: 10px 0;
    text-align: center;
    z-index: 1000;
}

header nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
}

header nav ul li {
    margin: 0 15px;
}

header nav ul li a {
    color: white;
    text-decoration: none;
    font-weight: bold;
}

.section {
    padding: 100px 20px;
    min-height: 100vh;
    background: rgba(0, 0, 0, 0.7); /* Semi-transparent black background for sections */
    border-bottom: 1px solid #333; /* Optional: to visually separate sections */
}

#about {
    background: rgba(0, 0, 0, 0.7); /* Dark background */
}

#skills {
    background: rgba(0, 0, 0, 0.7); /* Dark background */
}

#projects {
    background: rgba(0, 0, 0, 0.7); /* Dark background */
}

#contact {
    background: rgba(0, 0, 0, 0.7); /* Dark background */
}

footer {
    background: rgba(33, 33, 33, 0.8); /* Semi-transparent dark background */
    color: white;
    text-align: center;
    padding: 20px;
    position: relative;
    bottom: 0;
    width: 100%;
}
